@import 'reset-css';

.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
    vertical-align: middle;
}
.loginTxt{
    margin-left: 10px;
}
.nav-section{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.menu-list{
    display: flex;
    margin-top: 30px;
}
.menu-list li{
    padding: 10px;
}
.menu-area{
    display: flex;
    justify-content: center;
}
.searchBox{
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.searchBox input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.innerBox{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    font-family: "Noto Sans KR", sans-serif;
}
.product img{
    width: 100%;
}
.cardProduct{
    margin-bottom: 20px;
    transition: transform .2s; 
    cursor: pointer;
}
.cardProduct:hover {
    transform: scale(1.1); 
  }
  .product-img{
    display: flex;
    justify-content: flex-end;
  }
